<div class="panel panel-info" style="margin-top:1em">
		<div class="panel-heading">
			<h1 class="panel-title" style="font-size:2em">
				Introduzione.
			</h1>
		</div>
</div>

<div class="panel-body">
	<p class='lead'>
		Ciao.<br/><br/>
		Istruzioni.<br/><br/>
		Grazie!
	</p>
	<div class="text-center proceed" style="margin: 30px auto 10px;">
		<button pi-message-done type="button" class="btn btn-primary">
			Clicca qui per iniziare.
		</button>
	</div>
</div>





